alias mmv="noglob zmv -W"
alias ..='cd ..'
alias ...='cd ../..'
alias _='sudo'
alias history='fc -l 1'
#alias ls='ls --group-directories-first'
alias l='ls -1'
alias la='ls -lA1h'
alias lt='ls -ltr'
alias e="$EDITOR"
alias se="sudo $EDITOR"
alias md='mkdir -p'
alias -g ND='*(/om[1])' # newest directory
alias -g NF='*(.om[1])' # newest file

alias vm="ssh root@bitly.org"
alias r='ranger'
alias sc="sudo systemctl"
alias t='task'
alias x='atool -x'
alias ya='yaourt'
alias pc='sudo pacman'
alias g='git'
alias gp='git push'
alias gpf='git push -f'
alias gpp='git push -u origin `git rev-parse --abbrev-ref HEAD`'
alias gpr='hub pull-request -b "bitly:master"'
alias gri='git rebase -i master'
alias xres='e ~/.Xresources && xrdb -override ~/.Xresources'
alias aliases='e ~/.aliases && source ~/.aliases'

alias light="dynamic-colors switch solarized-light"
alias dark="dynamic-colors switch solarized-dark"

f() {
    find . -iname "*$1*"
}

dot() {
    mv "$1" ~/.dotfiles/
    NEW=~/.dotfiles/"$1"
    ln -s $NEW
    echo "$1 moved to $NEW"
}

bfont() {
    printf '\33]710;%s\007' "-*-${1}-*-*-*-*-11-*-*-*-*-*-iso8859-*"
    #printf '\33]711;%s\007' "-*-${1}-*-*-*-*-11-*-*-*-*-*-iso8859-*"
}
font() {
    printf '\33]710;%s\007' "xft:${1}:size=10"
    printf '\33]711;%s\007' "xft:${1}:bold:size=10"
}

# vim: set ft=sh:
