alias mmv="noglob zmv -W"
alias ..='cd ..'
alias ...='cd ../..'
alias _='sudo'
alias history='fc -l 1'
alias ls='ls --color=tty --group-directories-first'
alias l='ls -1'
alias la='ls -lA1h'
alias lt='ls -ltr'
alias e="$EDITOR"
alias se="sudo $EDITOR"
alias md='mkdir -p'
alias -g ND='*(/om[1])' # newest directory
alias -g NF='*(.om[1])' # newest file

alias vm="ssh root@bitly.org"
alias r='ranger'
alias sc="sudo systemctl"
alias x='atool -x'
alias pac='sudo pacman'
alias aur='pacaur --aur --votes'
alias g='git'
alias gp='git push'
alias gpf='git push -f'
alias gpp='git push -u origin `git rev-parse --abbrev-ref HEAD`'
alias gpr='hub pull-request -b "bitly:master"'
alias gri='git rebase -i master'
alias aliases='e ~/.aliases && source ~/.aliases'
alias wm='e ~/.config/openbox/rc.xml && openbox --reconfigure'

f() { find . -iname "*$1*" }

p() {
  if [[ $# -eq 1 ]]; then
    ps -ef | grep "$1"
  else
    ps -ef
  fi
}

dot() {
    mv "$1" ~/.dotfiles/
    NEW=~/.dotfiles/"$1"
    ln -s $NEW
    echo "$1 moved to $NEW"
}

man() {
  env LESS_TERMCAP_mb=$(printf "\e[1;31m") \
    LESS_TERMCAP_md=$(printf "\e[1;31m") \
    LESS_TERMCAP_me=$(printf "\e[0m") \
    LESS_TERMCAP_se=$(printf "\e[0m") \
    LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
    LESS_TERMCAP_ue=$(printf "\e[0m") \
    LESS_TERMCAP_us=$(printf "\e[1;32m") \
	man "$@"
}

function zsh_stats() {
  history | awk '{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " CMD[a]/count*100 "% " a;}' | grep -v "./" | column -c3 -s " " -t | sort -nr | nl |  head -n20
}

function mcd() {
  mkdir -p $1
  cd $1
}

# vim: set ft=sh:
