[alias]
  cm = commit -m
  ca = commit --amend
  s = status -sb
  b = branch
  co = checkout
  d = diff
  ds = diff --stat
  cp = cherry-pick
  l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  all = for-each-ref --format='%(refname:short) <- %(upstream:short)' refs/heads
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  cb = create-branch
  db = delete-branch
[user]
  name = Joshua Hanson
  email = nibblebot@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = upstream
[clean]
  requireForce = false
[rerere]
  enabled = true
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = diffmerge --merge --result="$MERGED" "$LOCAL" "$BASE" "$REMOTE"
  trustexitcode = false
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge "$LOCAL" "$REMOTE"
[core]
  editor = vim
[mergetool "vimdiff3"]
  cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
