Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.antialias:	1
Xft.hinting: 1
Xft.hintstyle:	hintfull
Xft.rgba:	rgb
Xft.dpi:	96

URxvt.letterSpace: 0
URxvt.font: xft:Consolas:size=9
URxvt.boldFont: xft:Consolas:bold:size=9
URxvt.iso14755 : false

urxvt*dynamicColors: on
URxvt.scrollBar: false
URxvt.saveLines: 8192 
URxvt.perl-ext-common: default,matcher,vtwheel,clipboard,font-size
URxvt.keysym.C-S-C: perl:clipboard:copy
URxvt.keysym.C-S-V: perl:clipboard:paste
URxvt.keysym.C-equal: perl:font-size:increase
URxvt.keysym.C-minus: perl:font-size:decrease

! clickable URLs
URxvt.url-launcher:      /usr/bin/chromium
URxvt.matcher.button:   1
