if which distrobox &> /dev/null; then
  alias dev='distrobox enter dev'
fi

if which exa &> /dev/null; then
  # add --icons back when I add Nerd Font for terminal
  alias l='exa --group --group-directories-first'
else
  alias l='ls --group-directories-first'
fi

alias ..='cd ..'
alias ...='cd ../..'
alias ll='l -l'
alias la='ll -a'
alias md='mkdir -p'
alias f='fdfind'
alias g='git'
alias e="$EDITOR"
alias _="sudo"
alias se="sudoedit"